.nav-link-custom {
  position: relative;
  color: #ddd !important;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.nav-link-custom:hover {
  color: #0dcaf0 !important;
  text-shadow: 0 0 8px rgba(13, 202, 240, 0.6);
}

.nav-link-custom.active {
  color: #0dcaf0 !important;
  font-weight: 600;
  border-bottom: 2px solid #0dcaf0;
}
.hamburger-icon.expanded {
  color: rgb(240, 8, 221);
  border-color: rgb(228, 10, 137);
  
}

.hamburger-icon {
  color: #0fc5dd; 
  border-color: #17a2b8;
  transition: all 0.3s ease;
}

